# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# next.js
.next/
out/
next-env.d.ts
.vercel/

# coverage / build artifacts
coverage/
*.tsbuildinfo

# env files
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store