html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.arrayFont {
  font-family: 'Array', sans-serif;
}

.glowing-text {
  text-shadow: 0 0 20px #fff, 0 0 30px #3fff00, 0 0 40px #3fff00, 0 0 50px #3fff00, 0 0 60px #3fff00, 0 0 70px #3fff00, 0 0 80px #3fff00;
}

.tabularFont {
  font-family: 'Raleway', sans-serif;
}

.digitalFont {
  font-family: 'Nippo', sans-serif;
}

body {
  font-family: 'Tabular', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

div {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

div::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}